.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.card-white {
  text-align: center;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 18%);
  padding: 20px;
  width: 200px;
}

.card-white p {
  font-size: 14px;
  color: rgb(124, 124, 124);
}

.card-white img {
  width: 100px;
}
